@media screen and (max-width: 1010px) {
    .navigation, .footer {
        padding: 2rem 0;
    }

    .project-list {
        grid-template-columns: repeat(2, minmax(230px, 1fr));

        li {
            width: 100%;

            a {
                padding: 0;
                
                &:hover {
                    background: none;

                    .project-title {
                        color: $primary-accent;
                    }
                }

                
            }
        }
    }
}

@media screen and (max-width: 950px) {
    footer {
        @include flex(flex-start, flex-start);
        flex-direction: column;

        .contact {
            margin-bottom: 3rem;
        }
    }
}

@media screen and (max-width: 650px) {
    header {
        .header-wrapper {
            h1 {
                font-size: 32px;
            }
        }
    }

    .project-list {
        grid-template-columns: repeat(1, minmax(230px, 1fr));
    }

    .footer-links {
        @include flex(flex-start, flex-start);
        align-items: flex-start !important;
        flex-direction: column;

        li {
            margin: 0;

            &:not(:last-child) {
                margin-bottom: 2rem;
            }
        }
    }
}

@media screen and (max-width: 450px) {
    header {
        .header-wrapper {
            h1 {
                font-size: 24px;
                font-weight: 500;
            }
    
            p {
                font-size: 1rem;
            }
        }
    }

    section {
        .section-header {
            h2 {
                font-size: 24px;
                font-weight: 600;
            }
        }
    }

    .project-list {
        grid-row-gap: 3rem;
        grid-template-columns: 1fr;

        li {
            width: 100%;
        }
    }
}