.featured-projects {
    width: 100%;
    min-height: 100vh;
    padding-top: 15rem;

    .project-item {
        width: 100%;
        display: grid;
        grid-column-gap: 8rem;
        margin-bottom: 8rem;
    
        &.left-align {
            justify-items: start;
            grid-template-columns: 33% 1fr;

            .project-item-image {
                margin-right: 6rem;
            }
        }
    
        &.right-align {
            justify-items: end;
            grid-template-columns: 1fr 33%;

            .project-item-image {
                margin-left: 6rem;
                order: 2;
            }

            .project-item-content {
                order: 1;
            }
        }

        &-image {
            width: 100%;
            height: 500px;
            background: #eee;
        }

        &-content {
            height: 150px;
            font-size: 3rem;
            font-weight: 500;
            position: relative;
        
            transform: translateY(var(--translateY));
            will-change: transform;
            
            h2 {
                margin: 0;
                font-weight: 700;
                font-size: 3rem;
                line-height: 120%;
                
                a {
                    color: $primary-text;
                }
            }
        
            p {
                margin: 1rem 0;
                max-width: 430px;
                font-size: 1rem;
                font-weight: 400;
                line-height: 135%;
                color: $secondary-text;
            }

            .bold {
                font-weight: 700;
            }
        }
    }
}