.footer {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    height: 150px;
    @include flex(center, center);

    & > p {
        font-size: 24px;
        margin-left: 1rem;
        color: $primary-text;
    }

    .footer-wrapper {
        @include flex(center, space-between);
    }

    .social-links {
        @include flex(center, flex-start);
        margin: 0 auto;
        
        a {
            font-size: 18px;
            color: $secondary-text;

            &:hover {
                color: $primary-text;
            }

            &:not(:last-of-type) {
                margin-right: 1.5rem;
            }
        }
    }
}