.navbar {
	z-index: 3;
    position: relative;
    padding: 0.5rem 2rem;
	@include flex(center, space-between);

    .navbar-links {
        @include flex(center, flex-end);

        .nav-item {
            padding: 0.5rem 1rem;
        }
    }

    .nav-link {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.075rem;
        color: $gray-54;

        &:hover {
            color: $gray-84;
        }
    }
}


.js-menu {
    width: 100%;
    height: 100vh;
    position: fixed;
    bottom: 0;
	left: 0;
	z-index: 2;

	.menu-wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		min-height: 100vh;
		overflow-y: scroll;
	}
}

.image-list {
	position: fixed;
	top: 15%;
	right: 15%;
	width: 350px;
}

.image-list-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	
	transition-timing-function: cubic-bezier(.08,.82,.17,1);
	transition-duration: 300ms;
	
	transform: translateZ(0);
}

.project-image {
	position: absolute;
    top: 0;
    width: 100%;
	height: 250px;
	margin-bottom: 2rem;
	
	transition-timing-function: ease-in-out;
	transition-duration: .5s;
	
    display: flex;
    align-items: center;
	justify-content: center;
	
	font-size: 2rem;
	color: white;
	background: #eee;

	&.active {
		background: #bbb; 
	}
}

.project-list {
	position: absolute;
	top: 15%;
	left: 15%;
	display: flex;
	flex-direction: column;
	
	& > li {
		margin-bottom: 2rem;
		cursor: pointer;	
		color: $secondary-text;
		
		transition-duration: .25s;
		background-color: transparent;

		h2 {
			margin: 0;
			font-weight: 500;
			font-size: 3rem;
			line-height: 120%;
		}
		
		&:hover, &.active {
			color: $primary-text;
		}
	}
}