section {
    margin: 0 auto;
    margin-bottom: 3rem;

    &.section-wrapper {
        width: 100%;
        max-width: 1320px;
    }

    .section-header {
        margin-bottom: 2rem;
    }
}

.header {
    width: 100%;
    height: calc(100vh - 50px);

    .section-wrapper {
        display: grid;
        grid-template-rows: 1fr 1fr;
        height: calc(100vh - 50px);

        .section-header {
            margin-bottom: 0;
            @include flex(center, center);
            
            h1 {
                max-width: 1000px;
                text-align: center;
            }
        }

        .video {
            position: relative;

            .video-overflow {
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;

                .video-wrapper {
                    position: relative;
                    height: 100%;

                    video {
                        position: absolute;
                        top: 0;
                        left: 0;
                        min-width: 100%;
                        min-height: 100%;
                        width: auto;
                        max-width: 100%;
                        height: auto !important;
                        max-height: 100%;

                        // position: absolute;
                        // min-width: 100%;
                        // min-height: 100%;
                        // width: auto;
                        // height: auto;
                    }
                }
            }
        }
    }
}

.projects {

    .section-header {
        position: relative;

        h1 {
            width: 100%;
            position: absolute;
            top: 10rem;
            left: 30%;
            transform: rotate(90deg); 
            text-transform: uppercase;
            font-size: 225px;
            opacity: 0.15;
            margin: 0;
            transform-origin: 0% 0%;
        }
    }

    .projects-list {
        position: relative;
        z-index: 1;

        .project-item {
            margin-bottom: 10rem;
            @include flex(center, space-between);

            &:hover {
                img {
                    opacity: 1;
                }
            }

            img {
                width: 400px;
                height: 250px;
                object-fit: cover;
                
                opacity: 0;
                display: block;
                background: #eee;

            }

            a {
                color: $gray-84;

                h2 {
                    font-size: 40px;
                    text-align: right;
                    font-weight: 700;
                }
            }
        }
    }
}