section {
    .section-header {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        margin-bottom: 4rem;
        text-align: center;

        h2 {
            font-size: 36px;
            font-weight: 700;
        }

        p {
            font-size: 1rem;
            margin: 0 auto;
            margin-top: 1rem;
            margin-bottom: 1rem;
            line-height: 135%;
            max-width: 430px; 
        }
    }
}

.viewport {
    width: 100%;
    height: 100vh;
    @include flex(center, center);
}

.d-none {
    display: none;
}