.about {
    flex-direction: column;
    padding-top: 10rem;
    width: 100%;
    height: inherit;
    min-height: 75vh;
    max-width: 1000px;
    margin: 0 auto;
    margin-bottom: 5rem;

    animation: about 700ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(1, 0, 0, 1);

    & > div {
        margin-bottom: 3rem;
    }


    h2 {
        line-height: 175%;
        font-weight: 400;

        &.first-bio {
            font-size: 36px;
        }

        a {
            color: $primary-text;
            font-weight: 700;
        }
    }
}

@keyframes about {
    from {
        transform: translateY(200px);
        opacity: 0.01;
    }
    to {
        transform: translateY(0);
        opacity: 0.99;
    }
}