.faq {
    padding-top: 10rem;
    display: block;

    .faq-item {
        width: 100%;
        max-width: 900px;
        margin: 0 auto;
        margin-bottom: 10rem;
        opacity: 0.01;

        &.in-view {
            animation: in-view 1000ms;
            animation-fill-mode: forwards;
            animation-timing-function: cubic-bezier(1, 0, 0, 1);
        }

        h2 {
            width: 100%;
            text-align: center;
            font-weight: 500;
            font-size: 3rem;
            line-height: 120%;
            color: $primary-text;
        }

        p {
            width: 100%;
            text-align: center;
            font-size: 1.5rem;
            font-weight: 500;
            color: $secondary-text;
        }
    }
}

@keyframes in-view {
    from {
        transform: translateY(200px);
        opacity: 0.01;
    }
    to {
        transform: translateY(0);
        opacity: 0.99;
    }
}