// Color system
$white:                 #FFFFFF;
$gray-84:               rgba(0, 0, 0, 0.84);
$gray-54:               rgba(0, 0, 0, 0.54);
$primary-text:          #2B2B2B;
$secondary-text:        #80878F;
$primary-accent:        #007AFF;
$secondary-accent:      #F4F5F5;
$black:                 #000000;

// Transitions
$cubic: cubic-bezier(.07,.95,0,1);
$short-transition: 250ms;
$long-transition: 450ms;