// Color system
$white:     #FFFFFF;
$gray-84:   rgba(0, 0, 0, 0.84);
$gray-54:   rgba(0, 0, 0, 0.54);
$black:     #000000;

// Transitions
$cubic: cubic-bezier(.07,.95,0,1);
$short-transition: 250ms;
$long-transition: 450ms;