.Footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 5rem;
  font-size: 1.4rem;
  font-weight: 500;
}

.Button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2rem;

  svg {
    color: #888;
    transition: 150ms;
  }

  &:hover svg {
    color: #1a1a23;
    transform: scale(1.15);
  }
}
